:root{
    --primary-color: #D6FF38;
    --primary-color-hover: #C1F300;
    --red-color: #ff4848;
    --red-color-hover: #fa3737;
    --blue-color: #6363fe;
    --blue-color-hover: #4c4cf8;
    --offblack-color: rgb(18, 18, 18);
}

body{
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
.btn:hover{
  cursor: pointer;
}
.btn--primary:hover{
  background-color: var(--primary-color-hover);
  cursor: pointer;
}
#app{
  position: sticky;
  background: var(--offblack-color);
}
div.body{
  height: 100vh;
  color: white;
}